{% extends "layout.html" %}
{% block header %}URL Shortner v{{ version }}{% endblock %}
{% block content %}


<p>A simple authenticated URL shortner, original written for the <a href="http://www.uknof.org.uk">UK Network Operators
        Forum (UKNOF)</a>.</p>
<p>Written in Python using Flask, sqlite and Bootstrap.</p>

<hr />
<h4>Source code</h4>
<p>Is available on Github - <a href="https://github.com/uknof/shortner">https://github.com/uknof/shortner</a>.</p>

<hr />
<h4>Contributors & Changelog</h4>
<table>
    <tr>
        <th>Version(s)</th>
        <th>Contributor(s)</th>
        <th>Changes</th>
    </tr>
    <tr>
        <td>0.0.0 - 0.0.4</td>
        <td>Nat Morris - <a href="https://github.com/natm">@natmorris</a></td>
        <td>Original author and maintainer. Most of the code is still Nat's to props to Nat!</td>
    </tr>
    <tr>
        <td>0.0.4</td>
        <td>Chris Russell - <a href="https://github.com/cruse1977">@that_chrisr</a></td>
        <td>Migrated from Python2 to Python3, added delete function, added pagination</td>
    </tr>
    <tr>
        <td>0.0.5</td>
        <td>James Bensley - <a href="https://github.com/jwbensley">@jwbensley</a></td>
        <td>Added type hints, linting, GitHub actions, packaged as docker container, bumped jQuery to 3.7.0, bumped
            python module versions</td>
    </tr>
</table>

<p></p>

<hr />
<h4>License</h4>
<pre>
The MIT License (MIT)

Copyright (c) 2014-2023 UKIF Ltd

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</pre>

{% endblock %}