{% extends "layout.html" %}
{% block header %}URL Shortner v{{ version }}{% endblock %}
{% block content %}


<p>A simple authenticated URL shortner, original written for the <a href="http://www.uknof.org.uk">UK Network Operators Forum (UKNOF)</a>.</p>
<p>Written in Python using Flask, sqlite and Bootstrap.</p>

<hr/>
<h4>Source code</h4>
<p>Is available on Github - <a href="https://github.com/uknof/shortner">https://github.com/uknof/shortner</a>.</p>

<hr/>
<h4>Contributors</h4>
<p>Nat Morris - <a href="http://twitter.com/natmorris">@natmorris</a></p>

<hr/>
<h4>License</h4>
<p>x</p>

{% endblock %}
