{% extends "layout.html" %}

{% block header %}Users{% endblock %}

{% block content %}

<table class="table table-striped table-condensed" data-toggle="table" data-sort-name="username" data-show-refresh="true" data-url="/admin/api/users">
    <thead>
        <tr>
            <th data-field="username" data-sortable="true">Username</th>
            <th data-field="urlcount" data-sortable="true">URLs</th>
            <th data-field="logins" data-sortable="true">Logins</th>
            <th data-field="last_login" data-sortable="true">Last login</th>
        </tr>
    </thead>
</table>

<p>&nbsp;</p>

{% endblock %}
