{% extends "layout.html" %}

{% block header %}URLs{% endblock %}

{% block content %}

<table class="table table-striped table-condensed" data-toggle="table" data-sort-name="dest" data-show-refresh="true" data-url="/admin/api/urls">
    <thead>
        <tr>
            <th data-field="short" data-sortable="true">Short</th>
            <th data-field="custom" data-sortable="true">Custom</th>
            <th data-field="dest" data-sortable="true">Destination</th>
            <th data-field="hits4" data-sortable="true">Hits v4</th>
            <th data-field="hits6" data-sortable="true">Hits v6</th>
            <th data-field="createdby" data-sortable="true">Created by</th>
        </tr>
    </thead>
</table>

<p>&nbsp;</p>

<div class="row">
    <form class="form-horizontal" id="newUrlForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">Destination</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="destination"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Custom</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="custom" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-9 col-lg-offset-3">
                <button type="submit" class="btn btn-primary" name="shorten" value="Shorten">Shorten <span class="glyphicon glyphicon-flash"></span></button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("input:text:visible:first").focus();
    $('#newUrlForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            destination: {
                validators: {
                    notEmpty: {
                        message: 'The destination cannot be empty'
                    },
                    stringLength: {
                        min: 9,
                        max: 128,
                        message: 'The URL must be between 10 and 128 characters long'
                    },
                    uri: {
                        message: 'The website address is not valid'
                    }
                }
            },
            custom: {
                validators: {
                    stringLength: {
                        min: 3,
                        max: 64,
                        message: 'Must be between 3 and 16 characters'
                    },
                    regexp: {
                        regexp: /^[a-z0-9]+$/,
                        message: 'Lowercase, numbers and slashes allowed'
                    }
                }
            }
        }
    })
    .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');
            alert("hello");

    });
});

</script>
{% endblock %}
