{% extends "layout.html" %}

{% block header %}URLs{% endblock %}

{% block content %}

<table id="urltable" class="table table-striped table-condensed" data-toggle="table" data-search="true" data-sort-name="dest" data-show-refresh="true" data-pagination="true" data-url="/admin/api/urls">
    <thead>
        <tr>
            <th data-field="short" data-sortable="true">Short</th>
            <th data-field="custom" data-sortable="true">Custom</th>
            <th data-field="dest" data-sortable="true">Destination</th>
            <th data-field="hits4" data-sortable="true">Hits v4</th>
            <th data-field="hits6" data-sortable="true">Hits v6</th>
            <th data-field="notes" data-sortable="true">Notes</th>
            <th data-field="createdby" data-sortable="true">Created by</th>
            <th data-field="delete" data-formatter="deleteFormatter" data-events="deleteEvents">Options</th>
        </tr>
    </thead>
</table>

<p>&nbsp;</p>

<div class="row">
    <div class="page-header">
        <h4>Add new URL</h4>
    </div>
    <form class="form-horizontal" id="newUrlForm">
        <div class="form-group">
            <label class="col-sm-3 control-label">Destination</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="destination"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Custom</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="custom" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Notes</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="notes" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary" name="shorten" value="Shorten">Shorten <span class="glyphicon glyphicon-flash"></span></button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $("input:text:visible:first").focus();
    $('#newUrlForm').bootstrapValidator({
//        live: 'disabled',
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            destination: {
                validators: {
                    notEmpty: {
                        message: 'The destination cannot be empty'
                    },
                    stringLength: {
                        min: 9,
                        max: 128,
                        message: 'The URL must be between 10 and 128 characters long'
                    },
                    uri: {
                        message: 'The website address is not valid'
                    }
                }
            },
            custom: {
                validators: {
                    stringLength: {
                        min: 2,
                        max: 64,
                        message: 'Must be between 2 and 16 characters'
                    },
                    regexp: {
                        regexp: /^[a-z0-9][a-z0-9\/]+$/,
                        message: "lower case + numbers, can't start with slash"
                    }
                }
            },
            notes: {
                validators: {
                    stringLength: {
                        min: 0,
                        max: 255,
                        message: 'Maximum of 255 chars'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9., ]+$/,
                        message: 'No special characters allowed'
                    }
                }
            }
        }
    })
    .on('success.form.bv', function(e) {
            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');
            var dest = $('#newUrlForm').find('input[name="destination"]').val();
            var custom = $('#newUrlForm').find('input[name="custom"]').val();
            var notes = $('#newUrlForm').find('input[name="notes"]').val();
            url = { "dest": dest, "custom": custom, "notes": notes }
            $.ajax({
                type: "POST",
                url: "/admin/api/urls/create",
                data: JSON.stringify({ url: url }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data){newUrlState(data);},
                failure: function(errMsg) {
                    alert(errMsg);
                }
            });

    });
});

function deleteFormatter(value, row, index) {
  return [

    '<a class="remove" href="javascript:void(0)" title="Remove" style="color: #A00">',
    '<i class="glyphicon glyphicon-trash"></i>',
    '</a>'
  ].join('')
}



function newUrlState(data) {
    success = data["success"]
    if (success) {
        shrt = data["short"];
        bootbox.alert("URL shortened to " + shrt, function() {
            $('#urltable').bootstrapTable('refresh', {url: '/admin/api/urls'});
            $('#newUrlForm').trigger("reset");
            $('#newUrlForm').data('bootstrapValidator').resetForm();
        });
    } else {
        bootbox.alert("Login failed", function() {
            $('#newUrlForm').trigger("reset");
            $('#newUrlForm').data('bootstrapValidator').resetForm();
        });
    }

}

function newDeleteState(data) {
    success = data["success"]
    if (success) {
        bootbox.alert("url deleted", function() {
            $('#urltable').bootstrapTable('refresh', {url: '/admin/api/urls'});
            $('#newUrlForm').trigger("reset");
            $('#newUrlForm').data('bootstrapValidator').resetForm();
        });
    } else {
        bootbox.alert("Login failed", function() {
            $('#newUrlForm').trigger("reset");
            $('#newUrlForm').data('bootstrapValidator').resetForm();
        });
    }

}

window.deleteEvents = {
    'click .remove': function (e, value, row, index) {
        //myRow = JSON.parse(row)
        //alert(myRow.short)
        //alert($'#urltable'.rows(index))
 
        $.ajax({
            type: "POST",
            url: "/admin/api/urls/delete",
            data: JSON.stringify({ short: row.short }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function(data){newDeleteState(data);},
            failure: function(errMsg) {
                alert(errMsg);
            }
        });
    }
}
</script>
{% endblock %}
